:root {
    --btn-padding:0.4em 0.6em;
    --input-padding:0.3em 0.6em;
    --default-border-radius:3px;
}

*[ignore] {
        visibility: hidden;
        opacity: 0;
}

a[link] {
        position: relative;
        color: #555;
        text-decoration: none !important;
}

a[link]::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50%;
        height: 1px;
        background-color: transparent;
        transition: all 0.3s;
}

a[link]:hover::after {
        background-color: #888;
}

*[hidden] {
        display: none !important;
        visibility: hidden;
}

/* Forms */
.input-group {
        margin: 20px 0px;
        position: relative;
        max-width: 400px;
}

.input-group.inline {
        display: inline-block;
}

.input-group.auto {
        margin-left: auto;
        margin-right: auto;
}

.input-group input,
.input-group textarea,
.input-group select {
        padding: 0.5em 0.8em;
        outline: none;
        border: solid 1px #aaa;
        border-radius: 3px;
        min-width: 200px;
        width: 100%;
}

.input-group label {
        padding: 2px 10px;
        font-size: 15px;
        line-height: 30px;
        border-radius: var(--default-border-radius);
        height: auto;
}

.input-group.select label {
        position: initial;
}

.input-group input[required]:placeholder-shown,
.input-group textarea[required]:placeholder-shown {
        border: solid 1px #f00;
}

.input-group input[required]:placeholder-shown + label,
.input-group textarea[required]:placeholder-shown + label {
        color: #888;
}

.input-group input::placeholder,
.input-group textarea::placeholder {
        color: transparent;
}

.input-group label,
.input-group input:placeholder-shown + label,
.input-group textarea:placeholder-shown + label {
        position: absolute;
        left: 0;
        color: #999;
        transition: all 0.3s;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        cursor: text;
}

.input-group input:focus + label,
.input-group textarea:focus + label,
.input-group input:not(:placeholder-shown) + label,
.input-group textarea:not(:placeholder-shown) + label,
.input-group input[required]:focus:placeholder-shown + label,
.input-group textarea[required]:focus:placeholder-shown + label {
        top: calc((0.5em + 15px) * -1);
        left: 0;
        font-size: 12px;
        line-height: 15px;
        background-color: #bbb;
        color: #fff;
}

.input-group input[required]:focus:placeholder-shown + label,
.input-group textarea[required]:focus:placeholder-shown + label {
        background-color: #ff0000 !important;
}

.input-group input[required]:focus:placeholder-shown + label,
.input-group textarea[required]:focus:placeholder-shown + label {
        background-color: rgba(250, 0, 0, 0.4);
}

.input-group input:not(:placeholder-shown) + label,
.input-group textarea:not(:placeholder-shown) + label {
        background-color: rgba(150, 150, 150, 0.5);       
}

.input-group textarea:focus + label {
        top: -5% !important;
}